.vector{
    height:200px;
    width:200px;
    border-radius: 8px;
    margin-top:20px
}
.adminContainer{
    background-color: #e7e7e7;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.menuContainer{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height:150vh;
    background-color: gold;
}
.highLighter{
    width:500px;
    margin-left: 100px;
    text-align: center;
}
.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gold;
    margin-left:3px;
    width:100%;
}
.spanner{
    font-weight: bold;
}
.contentContainer{
    display: flex;
    flex-wrap: wrap;
}
.selectors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navHeader{
    display: flex;


}
.closeMenu{
    display: block;
    background-color: #000000;
    color:yellow;
    width:50px;
    height:40px;
    margin-top:20px;
}
.hideMenuContainer{
    display: none;
    transition-delay: 1000ms;
}
.showMenu{
    display: block;
    background-color: #000000;
    color:yellow;
    width:50px;
    height:40px;
    margin-top: 40px;
}
.hideMenu{
    display: none;
    transition-delay: 1000ms;
}
.vectorSection{
    display: flex;
    justify-content: center;
}
.salutation{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
.updatesContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px;
}
button{
width:150px;
margin:10px;
}
.state{
    list-style-type: none;
    text-decoration: none!important;
    text-decoration-color: transparent;
    display: flex;
    color:#555555;
    font-size: 16px;
    letter-spacing: 0.6px;
}
.showstatebtn{
    background-color:#008CBA;
    border:none;
    color:white;
    border-radius: 8px;
    padding: 10px;
}
.addBtn{
    background-color:#04AA6D;
    border:none;
    color:white;
    border-radius: 8px;
    padding: 10px;
}
Link{
    text-decoration-color: #e7e7e7;
}
.listActiveBtn{
    background-color:#008CBA;
    border:none;
    color:white;
    border-radius: 8px;
    padding: 10px;
    transform: scale(0.8);
}
.listInactiveBtn{
    background-color:#008CBA;
    border:none;
    color:white;
    border-radius: 8px;
    padding: 10px;
    transform:scale(1)
}
.delBtn{
    background-color:#f44336;
    border:none;
    color:white;
    border-radius: 8px;
    padding: 10px;
}
.userBtn{
    background-color:#555555;
    border:none;
    color:white;
    border-radius: 8px;
    padding: 10px;
}
.goBtn{
    background-color: lightgreen;
    border:none;
    color:black;
    border-radius: 8px;
    padding: 10px;
    width:60px;
}
.showForm{
display: flex;
justify-content: center;

}
.hideForm{
    display: none;
}
.addFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: white;
}
.input{
    margin:10px;
    display: flex;
    flex-direction: column;
}
input{
    border:none;
    background-color: #e7e7e7;
    height: 30px;
    font-size: bold;
    padding: 10px;
    border-radius: 12px;
    margin:5px
}
label{
font-size: 14px;
color:#000000;
font-weight: 500;
}
.addCanBtn{
    background-color:#04AA6D;
    border:none;
    color:white;
    border-radius: 8px;
    padding: 10px;
    align-self: center;
}
#constituency,#state{
    border: none;
    background-color: #e7e7e7;
    height: 30px;
}
#stateUTName{
    list-style-type: none;
    text-decoration:none;
    width:150px;
    margin-right:200px;
}
#stateName,#constituencyName{
    border: none;
    background-color: #e7e7e7;
    height: 30px;
    width:120px;
}
.showStates{
    display: block;
    margin:20px;
    background-color: #e7e7e7;
    border-radius: 8px;
    padding: 20px;
    width:fit-content;
}
.hideStates{
    display: none;
}
.sections{
    display: flex;
    flex-direction: row;
    color:black;    
    margin: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}
.sectionStates{
    display:flex;
    flex-direction: column;
    font-weight: bold;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    flex-grow: 1;
    color:#000000;
  }
  tr{
    width:300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  td{
    width:200px;
  }
.stateName{
    width:198px;
}
.section{
    margin-right: 350px;
}
.showList{
    display: block;
    background-color: white;
}
.hideList{
    display: none;
}
#itemSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;;
}
.section1{
    margin-left: -150px;
}
.section2{
    margin-left: 225px;
}
.member{
    display: flex;
    flex-direction: row;
}
.details{
    font-weight: 400;
    font-size: 12px;
}
.canName{
    width:150px;
}
.details{
    width:25%;
}
.candidateImage{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-right:10px;
}