.listContainer{
    background-color: white;
    height:150vh;
}
.selection{
    margin-top: 10px;
    margin-left: 4px;
}
/* .sectionStates{
    display:flex;
    flex-direction: column;
    font-weight: bold;
    width:100vw;
} */
.getStateBtn{
    background-color: #000fff;
    border:none;
    color:white;
    border-radius: 8px;
    padding: 10px;
}
.input1{
    width:300px;
    display: flex;
    padding:5px;
    flex-direction: column;
    
}
/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    flex-grow: 1;
    color:#000000;
  }
  tr{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  } */
/* .showStates{
    display: block;
}
.hideStates{
    display: none;
} */
h1{
    font-size:30px;
}
.topContainer{
    background-color: gold;
    margin-top:-5px;
    padding-left:10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}
.inp{
    
}
#state1{
    width:160px;
    height: 30px;
    font-size: 12px;
    
}
#constituency1{
    width:160px;
    height: 30px;
    font-size: 12px;
}
#state,#constituency{
    font-size: 14px;
}
.gobtn{
    background-color: lightgreen;
    border:none;
    color:black;
    border-radius: 8px;
    padding: 10px;
    width:60px;
    height:40px;
    margin-left:60px;
}
.filterIcon{
    background-color: transparent;
    color:black;
    font-size: 25px;
    border: none;
   margin-top: 10px;
    margin-left: 50px;
}


.slogan{
    font-size: 24px;
    margin-top:32px;
   margin-left: 10px;
    text-align: left;
}
.lg-options{
    display: none;
}
@media (min-width:768px){
.candidatesList{
    display: flex;
    flex-direction: row;
    background-color: white;
    flex-wrap: wrap;
}
.slogan{
    margin-left: -20px;
}
.lg-options{
   display: flex;
   flex-direction: row; 
   padding:10px;
}
.gobtn{
    margin-left: -30px;

}
.filterIcon{
    display: none;
}
}
.locationFilter{
    color:black;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top:-10px;
    
    background-color: #e7e7e7;
    font-size:20px;
    
}
.showSal{
    display: block;
}
.hideSal{
    display: none;
}
.constituencyHighlight{
    color:green;
    font-size: 22px;
}
.location{
    font-size: 13px;
    margin-top: -20px;
    
}
.locationIcon{
    font-size: 23px;
    margin-top:20px;
    margin-left:10px;
}
/* .statsContainer{
    width:100vw;
    display: flex;
    flex-wrap: wrap;
} */
.line{
    color:white;
    height:3px;
    background-color: white;

    border:none;
}