.listContainer{
    background-color: #000000;
    height:150vh;
}
.topContainer{
    background-color: gold;
    margin-top:-10px;
    padding-left:10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
}
.input{
    width:90px;
}
.slogan{
    font-size: 20px;
    margin-top:20px;
}
.locationFilter{
    color:white;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height:50px;
    
}
.location{
    font-size: 13px;
    margin-top: -20px;
    
}
.locationIcon{
    font-size: 23px;
    margin-top:20px;
    margin-left:10px;
}
.line{
    color:white;
    height:10px;
    background-color: white;
    margin-top:-10px;
    border:none;
}