.mp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:gold;
    margin:10px;
    height:150px;
}
.personImage{
    width:80px;
    height:130px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: start;
}
.image{
    margin:10px;
}
.name{
    font-size: 13px;
}
.symbol{
    width:60px;
}
.moreBtn{
    width:80px;
    border:none;
    background-color: black;
    color:white;
    padding: 4px;
    margin-bottom:10px;
    border-radius: 12px;
}
.partySymbol{
    margin-top:50px;
    margin-right:10px
}