.mp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:gold;
    margin:10px;
    margin-bottom: 0px;
    border-radius: 8px;
    margin:30px;

    height:auto;
}
@media (min-width:768px){
    .mp{
    width:340px;
    }
}
.personImage{
    width:80px;
    height:130px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: start;
}
.image{
    margin:10px;
}
.name{
    font-size: 13px;
}
.symbol{
    width:60px;
}
.moreBtn{
    width:80px;
    border:none;
    background-color: black;
    color:white;
    padding: 4px;
    margin-bottom:10px;
    border-radius: 12px;
}
.partySymbol{
    margin-top:50px;
    margin-right:10px
}
.show{
    display: flex;
    background-color: #e7e7e7;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -25px;
    

   
}
.hide{
    display: none;
}
.candidateSummary{
    background-color: gold;
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin-left:10px;
}
@media (min-width:768px){
    .candidateSummary{
        width:350px;
    }
    .show{
        width:400px;
        position: absolute;
    }
}
.mpContainer{
    background-color: white;
    border-radius: 8px;
    height:auto;
}
.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:10px;
    margin-left:30px;
}
.linkIcon{
    font-size: 25px;
    color:black;
    margin-right:60px;
    margin-bottom: 10px;
}
.linkIcon1{
    font-size: 25px;
    color:black;
    margin-right: 30px;
}